.banner {
  overflow: hidden;

  .natoli-slider {

  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &.-img {
    position: relative;

    img {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
}

.tns-outer {
  button {
    // @include srOnly;
  }
}
