.quotes {
  &__quote {
    blockquote {
      color: $primary;

      p {
        margin: 0;
      }
    }
  }

  &__author {
    text-align: right;
  }

  .natoli-slider {
    display: flex;

    > div {
      height: 100%;
    }
  }

  .copy + & {
    margin-top: $gutter;
  }
}
