h1, .h1 {
  margin: .2em 0;
}

h2, .h2 {
  color: $primary;
  font-family: $titleFF;
  font-weight: normal;
  font-size: 20px;
  margin: .4em 0;
  line-height: 1.3em;
  letter-spacing: (1 / 20) * 1em;
}

h3, .h3,
h4, .h4 {
  color: $primary;
  font-family: $titleFF;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: (1 / 13) * 1em;
  line-height: 1.3em;
  margin: .4em 0;
}

h3, .h3 {
  text-transform: uppercase;
}

p {
  margin: 0 0 1em 0;
}

.copy {
  ul,
  ol {
    margin-bottom: 1em;
  }

  li {
    position: relative;
  }

  ul {
    li {
      padding-left: 1em;
      &:before {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        top: calc(50% - 3px);
        left: 0;
        background: currentColor;
        border-radius: 50%;
      }
    }
  }

  ol {
    counter-reset: olist;

    li {
      padding-left: 1.7em;
      counter-increment: olist;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: counter(olist) ".";
        color: currentColor;
      }
    }
  }

  p,
  li {
    line-height: 1.2em;
  }

  p,
  ul,
  ol,
  li {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
