* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: $copyFF;
  color: $black;
}

ul,ol {
  list-style: none;
}

a {
  transition: all .25s;

  svg {
    fill: currentColor;
  }
}

.sr-only {
  @include srOnly;
}

.mobile-hide {
  @include tabletMax {
    display: none;
  }
}

.mobile-show {
  @include tablet {
    display: none;
  }
}

.skip-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 9999;
  background: $gray-10;
  color: $primary;
  padding: 10px 20px;
  display: inline-block;
  transition: all .25s;
  @include hover {
    transform: translate(-50%, 0);
    color: $black;
  }
}

button {
  cursor: pointer;
}

#feedback {
  position: fixed;
  right: 10px;
  bottom: 40px;
  background: rgba($black,.8);
  color: $white;
  padding: 5px 10px;
  font-size: 12px;
  font-family: $copyFF;
  z-index: 99999999;
  max-height: calc(100vh - 50px);
  overflow: auto;
  // display: none;
}
