// Fonts
$titleFF: "Trade Gothic Extended", sans-serif;
$copyFF: "Trade Gothic Extended", sans-serif;

// Sizes
$maxW: 1300px;
$gutter: 30px;
$gutterSm: 20px;

$mediaTablet: 768px;

// Colors
$gray-1: #f0f0f0;
$primary: #db0000;
