// Fonts
$titleFF: "Trade Gothic Extended", sans-serif;
$copyFF: "Univers", sans-serif;

// Sizes
$maxW: 1300px;
$gutter: 30px;
$gutterSm: 20px;
$gutterLg: 50px;

$mediaTablet: 768px;
$mediaDesktop: 1120px;

$headerHMin: 68px;
$headerH: 108px;

// Colors
$gray-10: #F0F0F0;
$gray-20: #DCDADA;
$gray-30: #999999;
$gray-40: #747474;
$gray-50: #666666;
$black: #000000;
$white: #FFFFFF;
$primary: #DB0000;
