// Fonts
$titleFF: "Trade Gothic Extended", sans-serif;
$copyFF: "Univers", sans-serif;

// Sizes
$maxW: 1300px;
$gutter: 30px;
$gutterSm: 20px;

$mediaTablet: 768px;
$mediaDesktop: 1120px;

$headerHMin: 68px;
$headerH: 108px;

// Colors
$gray-1: #F0F0F0;
$black: #000000;
$white: #FFFFFF;
$primary: #DB0000;
