//
// Site colors
//
$colorHighlight: #DB0000;
$colorHighlightHover: #666666;
$colorBackground1: #FFFFFF; 
$colorBackground2: #F0F0F0;
$colorBackground3: #7F7F7F;
$colorMain: #000000;
$colorText: #999999;
$colorMainLink: #666666;
$colorMainLinkHover: #DB0000;

$colorInput: #DCDADA;
