
@mixin print {
	@media print { @content; }
}
@mixin plainList {
	
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
	}
}
@mixin print-hide {
	@include print {
		display: none !important;
	}
}
@mixin print-show {
	@include print {
		display: block !important;
	}
}

@mixin spriteFor($i) {
	background: image-url('sprite.png') no-repeat $i;
}

@mixin attribute_rgba($property, $color, $a) {
	#{$property}: $color;
	#{$property}: rgba($color,$a);
}

